@charset "UTF-8";
*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.25;
  color: #404040;
  background-color: #f5f5f5;
  height: 100%;
  padding: 0;
  margin: 0; }

input, button, a, select {
  font-family: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.25;
  font-size: 16px; }
  input:focus, button:focus, a:focus, select:focus {
    outline: none; }

button {
  cursor: pointer; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

p {
  margin: 0 0 10px 0; }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3); }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3); }

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3); }

.app {
  display: flex;
  height: 100%; }
  .app__l-side {
    height: 100%;
    flex-basis: 300px;
    flex-shrink: 0;
    background-color: #302f2b; }
  .app__l-main {
    flex: auto;
    height: 100%;
    overflow: auto; }
  .app__l-container {
    max-width: 1000px;
    margin: 0 auto; }

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #3699cb;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s ease;
  text-decoration: none; }
  .button:hover {
    color: #3699cb;
    background-color: transparent; }
  .button--toggle {
    background-color: #404040;
    color: rgba(255, 255, 255, 0.37); }
    .button--toggle:hover {
      background-color: #4a4a4a;
      color: rgba(255, 255, 255, 0.75); }
    .button--toggle.button--active {
      background-color: #f3cd2c !important;
      color: white !important; }
  .button--small {
    padding: 3px 10px 2px;
    font-size: 10px;
    font-weight: 900; }
  .button:disabled {
    background-color: #bbbbbb !important;
    color: white !important; }

.checkbox {
  display: block; }
  .checkbox:before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.26);
    border: 2px solid rgba(0, 0, 0, 0.24); }
  .checkbox__label {
    display: block;
    position: relative;
    cursor: pointer; }
  .checkbox__input {
    display: block;
    opacity: 0;
    appearance: none;
    width: 20px;
    height: 20px; }
  .checkbox__text {
    display: block;
    margin-left: 30px; }
  .checkbox__text:before {
    content: "✓";
    font-family: entypo, sans-serif;
    display: block;
    position: absolute;
    left: -2px;
    top: -20px;
    font-size: 50px;
    color: transparent;
    transition: all .2s ease;
    transform: scale(0.5); }
  .checkbox__input:checked + .checkbox__text:before {
    color: #68be60;
    transform: scale(1); }

.enter-task {
  display: block;
  flex: auto; }
  .enter-task__l-container {
    display: flex;
    align-items: center; }
  .enter-task__l-box-a {
    flex-grow: 1;
    margin-right: 20px; }
  .enter-task__l-box-b {
    flex-grow: 0; }
  .enter-task__title-input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    color: rgba(64, 64, 64, 0.56); }

.task {
  display: flex;
  position: relative;
  min-height: 80px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.06); }
  .task:last-child {
    border-bottom-color: transparent; }
  .task--done {
    color: #bbbbbb; }
    .task--done .task__infos {
      color: #bbbbbb; }
  .task__title {
    width: calc(100% - 50px);
    font-size: 20px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 10px; }
  .task__delete {
    display: block;
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
    transform-origin: 50% 50%;
    transform: scale(0.5);
    color: #ff5967; }
    .task__delete:before {
      content: "✕";
      font-family: entypo, sans-serif;
      text-decoration-skip: all;
      display: block;
      width: 50px;
      height: 50px;
      font-size: 50px;
      line-height: 1; }
  .task:hover .task__delete {
    opacity: 1;
    transform: scale(1); }
  .task__l-box-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 80px;
    flex-shrink: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    background-color: rgba(0, 0, 0, 0.02); }
  .task__l-box-b {
    flex: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; }

.task-list {
  display: block; }
  .task-list__tasks {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0; }
  .task-list__l-container {
    display: flex;
    flex-wrap: wrap; }
  .task-list__l-box-a {
    flex-grow: 1; }
  .task-list__l-box-b {
    flex-grow: 2; }
  .task-list__l-box-c {
    margin-top: 50px;
    flex-basis: 100%;
    flex-shrink: 0; }

/*# sourceMappingURL=main.css.map */
